@import '../../base.scss';
.index_container {
  // background-color: #8F8F8F;
    padding-bottom: 120px;
    &.hasMusicBox {
        padding-bottom: 220px;
    }
    .banner_list {
        height: 375px;
        margin-top: 15px;
        &__item {
          text-align: center;
          &__img {
            width: 92%;
            height: 100%;
            position: relative;
            // left: 4%;
            border-radius: 24px;
          }
        }
    }
    .index_header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 128px;
        background-color: $primary-color;
        box-sizing: border-box;
        .index_header__logo {
            width: 284px;
            height: 50px;
        }
    }
    .handle_list {
        overflow: hidden;
        margin-top: 40px;
        padding: 0 40px;
        .handle_list__item {
            width: 20%;
            float: left;
            text-align: center;
            .handle_list__item__icon-wrap {
                background-color: $primary-color;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin: 0 auto;
            }
            .handle_list_item__icon {
                margin-left: 5px;
            }
            .handle_list__item__text {
                font-size: 24px;
            }
        }
    }
}